@import "reset";
.main__link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    svg{
        font-size: 22px;
    }
}
.qora{
    padding: 10px 15px;
    background-color:#000000;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    svg{
        font-size: 22px;
    }
}
.oq{
    padding: 10px 15px;
    background-color:#fff;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    svg{
        font-size: 22px;
    }
}
section {
    padding: 60px 0;
}

  
  .transarent-link{
    text-decoration: none;
    color: #000;
  }
  
  .main-button{
    padding: 1rem 2rem;
    background-color: #002f34;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  